<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs'); %>
<title>Entre Lineas - <%= user.firstName + ' ' + user.lastName %></title>
<body>
    <!-- Header-->
    <%- include('../partials/header.ejs'); %>
        <main class="up-main">
            <div class="up-colorBackgrownd-style up-colorBackground-littleSize"></div>
            <section class="editProfile-mobile">
                <!-- IF nuevaVariable == NAME >> mostrar campos de name para validar -->
                <% if (field == 'name'){ %>
                    <form class="createpr-form-padding-left" action="/users/userProfile/edit/name?_method=PUT"
                        method="post" >
                        <br>
                        <!-- ? mostrar form de NOMBRE Y APELLIDO -->
                        <p>Ingrese en los campos los datos que desee ver en su perfil</p>
                        <label for="userFirstName">Nombre:
                            <input class="box-ingrese-datos" type="text" name="userFirstName" id="userFirstName" value="<%= user.firstName %>">
                        </label>
                        <% if (locals.errors && errors.userFirstName) { %>
                            <div class="text-red">
                                <%= errors.userFirstName.msg %>
                            </div>
                        <% } %>
                        <label for="userLastName">Apellido:
                            <input class="box-ingrese-datos" type="text" name="userLastName" id="userLastName" value="<%= user.lastName %>">
                        </label>
                        <% if (locals.errors && errors.userLastName) { %>
                            <div class="text-red">
                                <%= errors.userLastName.msg %>
                            </div>
                        <% } %>
                        
                <% } else if (field == 'email'){ %>
                    <form class="createpr-form-padding-left" action="/users/userProfile/edit/email?_method=PUT"
                        method="post" >
                        <br>
                        <!-- ? mostar form de EMAIL -->
                        <p>Para cambiar el email, primero ingrear la actual y luego el nuevo email deseado</p>
                        <label for="userEmail">Email actual:
                            <input class="box-ingrese-datos" type="text" name="userEmail" id="userEmail" value="<%= user.email %>">
                        </label>
                        <% if (locals.errors && errors.userEmail) { %>
                            <div class="text-red">
                                <%= errors.userEmail.msg %>
                            </div>
                        <% } %>
                        <br>
                        <label for="userNewEmail">Email nuevo:
                            <input class="box-ingrese-datos" type="text" name="userNewEmail" id="userNewEmail" 
                            placeholder="Ingrese el nuevo email que desee utilizar">
                        </label>
                        <% if (locals.errors && errors.userNewEmail) { %>
                            <div class="text-red">
                                <%= errors.userNewEmail.msg %>
                            </div>
                        <% } %>

                <% } else if (field== 'password'){ %>
                    <form class="createpr-form-padding-left" action="/users/userProfile/edit/password?_method=PUT"
                        method="post">
                        <br>
                    <!-- ? mostar form de PASSWORD -->
                    <p>Para cambiar la contraseña, primero ingresar la actual y luego la nueva contraseña deseada</p>
                    <label for="userPassword">Contraseña actual:
                        <input class="box-ingrese-datos" type="password" name="userPassword" id="userPassword" placeholder="Ingrese su contraeña actual">
                    </label>
                    <% if (locals.errors && errors.userPassword) { %>
                        <div class="text-red">
                            <%= errors.userPassword.msg %>
                        </div>
                        <% } %>
                    <label for="userNewPassword">Contraseña nueva:
                        <input class="box-ingrese-datos" type="password" name="userNewPassword" id="userNewPassword" placeholder="Ingrese la nueva contraseña que desea utilizar">
                    </label>
                        <% if (locals.errors && errors.userNewPassword) { %>
                            <div class="text-red">
                                <%= errors.userNewPassword.msg %>
                            </div>
                            <% } %>

                <% } else if (field=='address'){ %>
                    <form class="createpr-form-padding-left" action="/users/userProfile/edit/address?_method=PUT"
                        method="post">
                        <br>
                    <!-- ? mostrar form de ADDRESS -->
                    <!-- - enlazar el CRUD con la base de datos -->
                    <p>Ingrese sus datos de direccion para poder recibir los pedidos que realice</p>
                    <label for="country">Pais de residencia:
                        <input class="box-ingrese-datos" type="text" name="country" id="country"
                        value="<%= user.country != '---' ? user.country : '' %>"
                        placeholder="Ingrese el pais donde vive">
                    </label>
                    <label for="province">Provincia:
                        <input class="box-ingrese-datos" type="text" name="province" id="province"
                        value="<%= user.province != '---' ? user.province : '' %>"
                        placeholder="Ingrese la provincia donde vive">
                    </label>
                    <label for="city">Ciudad:
                        <input class="box-ingrese-datos" type="text" name="city" id="city"
                        value="<%=  user.city != '---' ? user.city : ''  %>"
                        placeholder="Ingrese la ciudad donde vive">
                    </label>
                    <label for="street">Calle:
                        <input class="box-ingrese-datos" type="text" name="street" id="street"
                        value="<%= user.street != '---' ? user.street : '' %>"
                        placeholder="Ingrese la calle donde vive">
                    </label>
                    <label for="number">Numero:
                        <input class="box-ingrese-datos" type="number" name="number" id="number"
                        value="<%= user.number == 000 ? user.number : '' %>"
                        placeholder="Ingrese su numero de vivienda">
                    </label>
                    <label for="postalCode">Codigo Postal:
                        <input class="box-ingrese-datos" type="text" name="postalCode" id="postalCode"
                        value="<%= user.postalCode %>"
                        placeholder="Ingrese su numero postal">
                    </label>
                    <label for="infoExtra">Agregue informacion extra que nos pueda ayudar para enviarle su pedido
                        <textarea 
                        class="texarea-saizing" 
                        name="infoExtra" 
                        id="infoExtra" 
                        placeholder="Departamento: 123, piso 1A"
                        value="<%= user.infoExtra %>">
                        </textarea>
                    </label>
                <% } %>
                        <div class="profConfirm-button-aligned">
                            <div class="listarProducts-section up-spacing">
                                <button type="submit" class="create-buttom">Editar datos</button>
                                <a href="/users/userProfile"><input class="edit-button" type="button" value="Volver al perfil"></a>
                            </div>
                        </div>
                    </form>
        </section>
            
    </main>
    <%- include('../partials/footer.ejs'); %>
    <!-- - CAMBIAR IMAGEN? -->
    <!-- <section class="up-profilePicture">
        <div class = "up-porfilePicture-div">
            <img class = "up-porfilePicture-img" src="/img/users/<%= user.profilePic %>" alt="profile picture" >
        </div>
        <input type="file" name="profilePic" value="<%= user.profilePic%>" />
    </section>
    <!-- <figure class=""> -->
        <!-- <img 
            class="up-porfilePicture-img" 
            src="/img/users/<%= user.profilePic %>""
            alt="profile picture">
        </figure>
        <br>--> 
        <!-- <label for="profilePic">Cambiar imagen de perfil:
            <input type="file" name="profilePic" value="<%= user.profilePic %>" />
    </label> -->
</body>

</html>