<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Registrarse</title>
</head>

<body class="login-body-background-img body-size-login body-size-register-dektop ">
    <header class="login-header"> 
    
    </header>

    <main class="register-main" >
         
            <div class="login-logo register-logo-dektop">
                <img class="register-logo-chico" src="/img/logo-entre-lineas.jpg" alt="logo">
            </div>

            <form class="form-flex form-register"  action="/users/register" method="POST" enctype="multipart/form-data">
                <div class="column1"><div class="register-cont-label-input">
                    <div><label for="firstName">Nombre:</label></div>
                    <input 
                        class="box-ingrese-datos <%= locals.errors && errors.firstName ? 'is-invalid' : null %>"
                        type="text" 
                        name="firstName" 
                        id="name" 
                        placeholder="Ingrese su nombre"
                        value="<%= locals.oldData ? oldData.firstName : null %>"
                    />
                    <div class="divErrorFirstName text-red">
                        <% if (locals.errors && errors.firstName) { %>
                            <div class="text-red">
                                <%= errors.firstName.msg %>
                            </div>
                        <% } %>
                    </div>
                </div>
               
                <div class="register-cont-label-input">
                    <div><label for="lastName">Apellido:</label></div>
                        <input 
                            class="box-ingrese-datos <%= locals.errors && errors.lastName ? 'is-invalid' : null %>" 
                            type="text" 
                            name="lastName" 
                            id="lastName"
                            placeholder="Ingrese su apellido"
                            value="<%= locals.oldData ? oldData.lastName : null %>"
                        />
                        <div class="divErrorLastName text-red">
                            <% if (locals.errors && errors.lastName) { %>
                                <div class="text-red">
                                    <%= errors.lastName.msg %>
                                </div>
                            <% } %>
                        </div>
                </div>
               
           
            <!--  <div> 
                    <div class="register-etiq-contenedor" ><label>Documento:</label></div>
                    <div class="register-cont-2box">
                        <div class="register-tipo-numero-camp">
                            <div><label for="tipodoc">Tipo</label></div>
                            <div>
                                <select class="register-box-option" name="tipodoc">
                                     <option value="dni">Dni</option>
                                     <option value="dni">Pasaporte</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="register-tipo-numero">
                            <div><label for="document">Número</label></div>
                            <input class="box-ingrese-datos-corto" type="number" name="document" id="document"
                            placeholder="Ingrese el numero" required>
                        </div>
                    </div> 
                </div> 

                <div>
                    <div class="register-etiq-contenedor"><label>Teléfono:</label></div>
                    <div class="register-cont-2box">
                        <div class="register-tipo-numero-camp ">
                            <div><label>C.área</label></div>
                            <div>
                                <select class="register-box-option" name="area">
                                    <option value="011">BsAs</option>
                                        <option value="0387">Salta</option>
                                        <option value="0381">Tucumán</option>
                                </select>
                            </div>
                        </div>
                    

                        <div class="register-tipo-numero">
                             <div><label for="nrotel">Número</label></div>
                            <input class="box-ingrese-datos-corto" type="number" name="nrotel" id="nrotel"
                             placeholder="Ingrese el numero">
                        </div>
                    </div>
            
                </div> -->
                <div class="register-cont-label-input">
                    <div><label for="img">Imagen:</label></div>
                    <input 
                        class="box-ingrese-datos" 
                        type="file" 
                        name="img" 
                        id="img"
                        value="<%= locals.oldData ? oldData.img : null %>"
                    >
                    <div class="divErrorImg text-red">
                        <% if (locals.errors && errors.img) { %>
                            <div class="text-red">
                                <%= errors.img.msg %>
                            </div>
                        <% } %>
                    </div>
                </div>


                <div class="register-cont-label-input">
                    <div><label for="email">Email:</label></div>
                    <input 
                        class="box-ingrese-datos"
                        type="email" 
                        name="email" 
                        id="email" 
                        placeholder="Ingrese su email" 
                        value="<%= locals.oldData ? oldData.email : null %>"
                    /> 
                    <div class="divErrorEmail text-red"> 
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-red">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>  
                </div>
        </div>
                
        <div class="column2"><div class="register-cont-label-input">
            <div><label for="password">Ingrese contraseña:</label></div>
            <input 
                class="box-ingrese-datos" 
                type="password"
                 name="password" 
                 id="password"
                 placeholder="Min 8 caracteres" 
                 minlength="8"
                 
            />
            <div class="divErrorPassword text-red">
                <% if (locals.errors && errors.password) { %>
                    <div class="text-red">
                        <%= errors.password.msg %>
                    </div>
                <% } %>
            </div>
        </div>

        <div class="register-cont-label-input">
            <div><label for="confpass">Confirme contraseña</label></div>
            <input 
                class="box-ingrese-datos" 
                type="password"
                name="confpass" 
                id="confpass"
                placeholder="Min 8 caracteres"
                minlength="8" 
            />
            <div class="divErrorConfpass text-red">
                <% if (locals.errors && errors.confpass) { %>
                    <div class= "text-red">
                        <%= errors.confpass.msg %>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="login-h5-centrado"> 
            <button type="submit" class="centrar-boton button-crear-cuenta">Crear nueva Cuenta</button>
        </div>
                       
       <div class="register-condic-uso">
           <p>Al crear una cuenta aceptas las 
               Condiciones de Uso y el Aviso de 
               Privacidad de Entre Líneas</p>
       </div>

       <div class="register-ya-tienes-cuenta"><p>¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p></div>
    </div>
    </form>
               
    </main>
    <footer class="login-footer">

    </footer>
    <script src="/js/register.js"></script>
</body>
</html>