<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs'); %>
<body>
	<!-- Header-->
	<%- include('../partials/header.ejs'); %>
<main class="up-main">
	<!-- main -->
	<div class="up-colorBackgrownd-style">
	</div>
	<section>	
		<section class="up-profilePicture">
			<div class = "up-porfilePicture-div">
				<img class = "up-porfilePicture-img" src="/img/users/<%= user.profilePic %>" alt="profile picture" >
			</div>
		</section>
		<section class = "up-data">
			<h2 class="up-email-style"><%= user.email %> </h2>
			<div class = "up-colorBackgrownd-gris up-personali">
				<h6 class="up-100">Informaci칩n personal</h6>
				<h4 class="up-100"><%= user.firstName %>  <%= user.lastName %></h4>
			</div>
			<div class = "up-colorBackgrownd-gris up-direction">
				<h6 class="up-100">Direcci칩n de envio</h6>
				<h4 class="up-100">Calle</h4>
				<h4 class="up-0-5">Numero de residencia</h4>
				<h4 class="up-0-5">Codigo Postal:</h4>
				<h4 class="up-0-5">Provincia</h4>
				<h4 class="up-0-5">Pais</h4>
			</div>
		</section>
		<section class="user-edits-buttons">
			<a href="/users/userProfile/edit/name"><input class="edit-button edit-button-name" type="button" value="Editar Nombre Entero"></a>
			<!-- <a href="/users/userProfile/edit/adress"><input class="edit-button edit-button-adress" type="button" value="Editar Direcci칩n de Envio"></a> -->
			<a href="/users/userProfile/edit/email"><input class="edit-button edit-button-mail" type="button" value="Editar Mail" ></a>
			<a href="/users/userProfile/edit/password"><input class="edit-button edit-button-pass" type="button" value="Editar Contrase침a"></a>
		</section>
	</section>
</main>

	<%- include('../partials/footer.ejs'); %>
</body>
</html>