<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Crear Producto</title>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/prodHeader.ejs') %>

 
    <main>
        <h3 class="creatprod-title">CREAR PRODUCTO</h3>
        <form class="crearProductForm createpr-form-padding-left" action="/products/create" method="POST" enctype="multipart/form-data">
            <ul class="errores"></ul>    
            <div class="">
                <div class="">
                    <div><label class="createpr-label-font" for="productName">Nombre del producto:</label></div>
                    <input class="box-ingrese-datos" type="text" name="productName" id="productName" 
                        placeholder="Ingrese el nombre del producto">
                    <div class="errorProductName text-red"></div>
                        <% if (locals.errors && errors.name) { %>
                                <%= errors.name.msg %>
                        <% } %>
                    </div>
                </div>
                <div>
                    <p class="createpr-label-font">Tipo de producto:</p>
                        <select name="type" id="type" >
                            <option value="" disabled selected>- Tipo de producto - </option>
                            <option value='1'>Libro</option>
                            <option value='2'>Ebook</option>
                            <option value='3'>Varios</option>
                        </select>
                        <div class="text-red errorProductType">
                        <% if (locals.errors && errors.type) { %>
                                <%= errors.type.msg %>
                        <% } %>
                        </div>
                    <!-- <% allProductsTypes.forEach(tipoProducto => { %>
                    <option value="<%= tipoProducto.id %>"><%= tipoProducto.title %></option>
                    <% }); %> -->
                </div>
                <!-- <div>
                    <p class="createpr-label-font">Tipo de producto:</p>
                    <p>
                        <select name="id_productType" id="" required>
                            <option value="" disabled selected>- Tipo de producto - </option>
                            <% allProductsTypes.forEach(tipoProducto => { %>
                            <option value="<%= tipoProducto.id %>"><%= tipoProducto.title %></option>
                            <% }); %>
                        </select>
                    </p>

                </div> -->

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="name">Imagen del producto:</label></div>
                    <input class="box-ingrese-datos" type="file" name="productImg"  accept=".jpg, .png">
                    <div class="text-red errorImg"></div>
                    <% if (locals.errors && errors.productImg) { %>   
                            <%= errors.productImg.msg %>
                    <% } %>
                </div>
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="author">Autor:</label></div>
                    <p>
                        <select name="author" id="author">
                            <option value="" disabled selected>- select Autor - </option>
                            <% allAuthors.forEach(autor => { %>
                            <option value="<%= autor.id %>"><%= autor.fullName %></option>
                            <% }); %>
                        </select>
                    </p>
                    <div class="text-red errorAuthor">
                    <% if (locals.errors && errors.author) { %>  
                            <%= errors.author.msg %>
                    <% } %>
                    </div>
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font"  for="price">Precio:</label></div>
                    <input class="box-ingrese-datos" type="number" name="price" id="price">
                    <div class="text-red errorPrecio">
                        <% if (locals.errors && errors.price) { %>
                            
                                <%= errors.price.msg %>
                        <% } %>
                    </div>
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="about">Descripción:</label></div>
                    <textarea class="texarea-saizing" name="about" id="about" placeholder="Agregue una breve descripcion del libro"></textarea> 
                    <div class="text-red errorDescripcion"></div>
                    <% if (locals.errors && errors.about) { %>
                        
                            <%= errors.about.msg %>
                    <% } %>
                    </div>
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="genre">Género:</label></div>
                    <p>
                        <select name="genre" id="genre" >
                            <option value="" disabled selected>- select Genre - </option>
                            <% allGenres.forEach(genero => { %>
                            <option value="<%= genero.id %>"><%= genero.name %></option>
                            <% }); %>
                        </select>
                    </p>
                    <div class="text-red errorGenero">
                    <% if (locals.errors && errors.genre) { %>
                            <%= errors.genre.msg %>
                        
                    <% } %>
                </div>
                 </div>
                 <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="editorial">Editorial: </label></div>
                    <p>
                        <select name="editorial" id="editorial" >
                            <option value="" disabled selected>- select Editorial - </option>
                            <% allEditorials.forEach(editorial => { %>
                            <option value="<%= editorial.id %>"><%= editorial.title %></option>
                            <% }); %>
                        </select>
                    </p>
                    <div class="text-red errorEditorial">
                    <% if (locals.errors && errors.editorial) { %>
                         <%= errors.editorial.msg %>
                    <% } %>
                 </div>
                 </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="bookSize">Tamaño:</label></div>
                    <input class="box-ingrese-datos" type="text" name="size" id="bookSize" 
                    placeholder="Ingrese el tamaño del libro (ancho x alto, en cm)" >
                </div>
                <div class="text-red errorEditorial errorTamaño">
                   
                 </div>
                
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="pages">Paginas:</label></div>
                    <input class="box-ingrese-datos" type="number" name="pages" id="pages" 
                    placeholder="Ingrese el número de páginas que contiene el libro" >
                </div>
                <div class="text-red errorEditorial errorPaginas">
                   
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="more">"Mas Información":</label></div>
                    <textarea class="texarea-saizing" name="more" id="more" placeholder="Agregue información adicional sobre el producto"></textarea> 
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="stock">"Stock":</label></div>
                    <input class="box-ingrese-datos" type="number" name="stock" id="stock" placeholder="Ingrese stock"></input> 
                    <div class="text-red errorStock">
                    <% if (locals.errors && errors.stock) { %>
                            <%= errors.stock.msg %>
                    <% } %>
                 </div>
                </div>


               
                <div class="creatProd-buttom"> 
                    <a href="/">
                        <button class="create-button">Crear</button>
                    </a>
                </div>
        </form>
    <script src="/js/crearProducto.js"></script>          
    </main>



    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</html>