<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Crear Producto</title>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/prodHeader.ejs') %>

 
    <main>
        <h3 class="creatprod-title">CREAR PRODUCTO</h3>
        <form class="createpr-form-padding-left" action="/products/create" method="POST" enctype="multipart/form-data">
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="productName">Nombre del producto:</label></div>
                    <input class="box-ingrese-datos" type="text" name="productName" id="productName" 
                        placeholder="Ingrese el nombre del producto" required>
                    
                </div>
                <!-- <div>
                    <p class="createpr-label-font">Tipo de producto:</p>
                    <p>
                        <select name="id_productType" id="" required>
                            <option value="" disabled selected>- Tipo de producto - </option>
                            <% allProductsTypes.forEach(tipoProducto => { %>
                            <option value="<%= tipoProducto.id %>"><%= tipoProducto.title %></option>
                            <% }); %>
                        </select>
                    </p>

                </div> -->

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="name">Imagen del producto:</label></div>
                    <input class="box-ingrese-datos" type="file" name="productImg"  accept=".jpg, .png" required>
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="author">Autor:</label></div>
                    <p>
                        <select name="author" id="author" required>
                            <option value="" disabled selected>- select Autor - </option>
                            <% allAuthors.forEach(autor => { %>
                            <option value="<%= autor.id %>"><%= autor.fullName %></option>
                            <% }); %>
                        </select>
                    </p>
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="genre">Género:</label></div>
                    <p>
                        <select name="genre" id="genre" required>
                            <option value="" disabled selected>- select Genre - </option>
                            <% allGenres.forEach(genero => { %>
                            <option value="<%= genero.id %>"><%= genero.name %></option>
                            <% }); %>
                        </select>
                    </p>
                 </div>
                 <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="editorial">Editorial: </label></div>
                    <p>
                        <select name="genre" id="genre" required>
                            <option value="" disabled selected>- select Editorial - </option>
                            <% allEditorials.forEach(editorial => { %>
                            <option value="<%= editorial.id %>"><%= editorial.title %></option>
                            <% }); %>
                        </select>
                    </p>
                 </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font"  for="price">Precio:</label></div>
                    <input class="box-ingrese-datos" type="number" name="price" id="price" 
                         required>
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="about">Reseña:</label></div>
                    <textarea class="texarea-saizing" name="opinion" id="about" placeholder="Agregue una breve descripcion del libro"></textarea> 
                </div>

              

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="bookSize">Tamaño:</label></div>
                    <input class="box-ingrese-datos" type="text" name="size" id="bookSize" 
                    placeholder="Ingrese el tamaño del libro (ancho x alto, en cm)" >
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="pages">Paginas:</label></div>
                    <input class="box-ingrese-datos" type="number" name="pages" id="pages" 
                    placeholder="Ingrese el número de páginas que contiene el libro" >
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="more">"Mas Información":</label></div>
                    <textarea class="texarea-saizing" name="more" id="more" placeholder="Agregue información adicional sobre el producto"></textarea> 
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="stock">"Stock":</label></div>
                    <input class="box-ingrese-datos" type="number" name="stock" id="stock" placeholder="Ingrese stock"></input> 
                </div>


               
                <div class="creatProd-buttom"> 
                    <a href="/">
                        <button class="create-button">Crear</button>
                    </a>
                </div>
        </form>
               
    </main>



    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</html>