<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Detalle</title>
    <script src="/js/detalleDeProducto.js" defer></script>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <main class="detail-main">
        <article class="product detail-first-column">
            <div class="img-more">
                <!-- <nav class="nav-book-select">
                    <input type="radio" name="detail-book-select" value="">
                    <input type="radio" name="detail-book-select" value="">
                </nav> -->
                <img class="book-product-img " src="<%= product.picture %>" alt="libro de prueba">
            </div>
        </article>
        <article class="product detail-second-column">
            <section class="book-detail-home ">
                <div class="book-name-price">
                    <h5 class="book-product-name"><%= product.name %></h5>
                    <h5 class="book-product-price">$<%= product.price %></h5>
                </div>
                <% if (product.id_author != null){ %>
                    <h6 class="book-product-author"><%= product.authors.fullName %></h6>
                <% } %>
                <a href="/carrito">
                    <input class="add-cart-button" type="button" value="Agregar al carrito">
                </a>
            </section>
            <section class="send-mail-description">
                <div class="icon-with-text">
                    <img class="icon-deliver" src="/img/icono-envio.jpg" alt="Icono de envio">
                    <p class="icon-text">Envío a todo el mundo</p>
                </div>
                <div class="icon-with-text">
                    <img class="icon-deliver" src="/img/icono-correo.jpg" alt="Icono de envio">
                    <p class="icon-text">Retiro por coreo</p>
                </div>
                <section class="detail-description-text">
                    <h5>Reseña libro</h5>
                    <p><%= product.opinion %></p>
                </section>
            </section>
            <section class="detail-extra-info">
                <button class="detail-extra-rect detail-title-info-ficha detail-max-size-ficha">
                    <h4 class="detail-title-info">Ficha Tecnica</h4>
                    <img class="detail-info-arrow" src="/img/arrow-down.png" alt="Boton en forma de flecha hacia abajo">
                    <p class="hidden-until-click display-more-tech">
                        <% if (product.id_genre != null) { %>
                            <strong>Genero</strong>: <%= product.genres.name %>
                        <% } %>
                        <br>
                        <strong>Tamaño</strong>: <%= product.size %>
                        <br>
                        <strong>Páginas</strong>: <%= product.pages %>
                        <br>
                    </p>
                </button>
                <button class="detail-extra-rect detail-title-info-more detail-max-size-info">
                    <h4 class="detail-title-info ">Más Información</h4>
                    <img class="detail-info-arrow" src="/img/arrow-down.png" alt="Boton en forma de flecha hacia abajo">
                    <p class="hidden-until-click display-more-info">
                        <%= product.more %>
                    </p>
                </button>
            </section>
        </article>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>