<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Crear Producto</title>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/prodHeader.ejs') %>

 
    <main>
        <h3 class="creatprod-title">EDITAR PRODUCTO "<%= product.name %>"</h3>
        <form class="createpr-form-padding-left" action="/products/:id/edit?_method=PUT" method="post">
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="productName">Nombre del producto:</label></div>
                    <input class="box-ingrese-datos" type="text" name="productName" id="productName" 
                        placeholder="Ingrese el nombre del producto" value="<%= product.name %>" required >
                </div>
                <div>
                    <p class="createpr-label-font">Tipo de producto:</p>
                    <input type="radio" id="Libro" name="type" value="Libro" checked>
                    <label class="createpr-label-font" for="center-logo-book">Libro</label><br>

                    <input type="radio" id="Ebook" name="type" value="Ebook">
                    <label class="createpr-label-font" for="ebook">Ebook</label><br>
                    <input type="radio" id="Varios" name="type" value="Varios">
                    <label class="createpr-label-font" for="varios">Varios</label>
                </div>

                <!-- <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="productName">Imagen del producto:</label></div>
                    <input class="box-ingrese-datos" type="file" name="picture" multiple accept=".jpg, .png" required value="<%= product.picture %>">
                </div> -->

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="author">Autor:</label></div>
                    <input class="box-ingrese-datos" type="text" name="author" id="author" 
                        placeholder="Ingrese el nombre del autor" required value="<%= product.author %>">
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font"  for="price">Precio:</label></div>
                    <input class="box-ingrese-datos" type="text" name="price" id="price" value="<%= product.price %>" required>
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="opinon">Reseña:</label></div>
                    <textarea  name="opinon" id="opinon" placeholder="Agregue una breve descripcion del libro" ><%= product.opinion %></textarea> 
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="gender">Género:</label></div>
                    <input class="box-ingrese-datos" type="text" name="gender" id="gender" 
                    placeholder="Ingrese el género del libro" required value="<%= product.gender %>">
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="size">Tamaño:</label></div>
                    <input class="box-ingrese-datos" type="text" name="size" id="bookSize" 
                    placeholder="Ingrese el tamaño del libro (ancho x alto, en cm)" value="">
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="pages">Paginas:</label></div>
                    <input class="box-ingrese-datos" type="text" name="pages" id="pages" 
                    placeholder="Ingrese el número de páginas que contiene el libro" value="">
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="more">"Mas Información":</label></div>
                    <textarea  name="aboutExtra" id="more placeholder="Agregue información adicional sobre el producto"></textarea> 
                </div>
               
                <div class="creatProd-buttom"> 
                    <button class="createProd-buttom-centr"><img class="img-buttom" src="/img/agregar-nuevo.png" alt="icon"></button>
                </div>
        </form>
               
    </main>



    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</html>