<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Editar Producto</title>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/prodHeader.ejs') %>

 
    <main>
        <br>
        <h3 class="creatprod-title">EDITAR PRODUCTO</h3>
        <form class="createpr-form-padding-left" 
            action="/products/<%= product.id %>/edit?_method=PUT" 
            method="post" enctype="multipart/form-data" >
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="name">Nombre del producto:</label></div>
                    <input class="box-ingrese-datos" type="text" name="name" id="name" value="<%= product.name %>" required >
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-red">
                            <%= errors.name.msg %>
                        </div>
                    <% } %>
                </div>
                <div>
                     <div>
                        <p class="createpr-label-font">Tipo de producto:</p>
                        <!-- 
                            <% allEditorials.forEach(editorial => { %>
                                <% if (product.id_editorial == editorial.id) { %>
                                    <option value="<%= editorial.id %>" selected><%= editorial.title %></option>
                                <% }%>
                            <option value="<%= editorial.id %>"><%= editorial.title %></option>
                            <% }); %>
                         -->
                            <select name="type" id="type" required>
                                <% allProductsTypes.forEach(tipo => { %>
                                    <% if (product.id_productType == tipo.id) { %>
                                        <option value="<%= tipo.id %>" selected><%= tipo.title %></option>
                                    <% } else { %>
                                        <option value="<%= tipo.id %>"><%= tipo.title %></option>
                                    <% } %>
                                <% }); %>
                            </select>
                            <% if (locals.errors && errors.type) { %>
                                <div class="text-red">
                                    <%= errors.type.msg %>
                                </div>
                            <% } %>
                    </div>
                </div>

                <!--Aquí solicito la imagen-->
                <div class="">
                    <figure class="">
                      <img class="editproduct-img" src="../../../<%= product.picture%>"
                       alt="libro <%= product.name %>">
                    </figure>
                    <input type="file" name="productImg" value="<%= product.picture%>" />
                    <% if (locals.errors && errors.productImg) { %>
                        <div class="text-red">
                            <%= errors.productImg.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="author">Autor:</label></div>
                    <input class="box-ingrese-datos" type="text" name="author" id="author" 
                        placeholder="Ingrese el nombre del autor" required value="<%= product.authors.fullName %>">
                    <% if (locals.errors && errors.author) { %>
                        <div class="text-red">
                            <%= errors.author.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font"  for="price">Precio:</label></div>
                    <input class="box-ingrese-datos" type="text" name="price" id="price" value="<%= product.price %>" required>
                    <% if (locals.errors && errors.price) { %>
                        <div class="text-red">
                            <%= errors.price.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="about">Descripción:</label></div>
                    <textarea  name="about" id="about" placeholder="Agregue una breve descripcion del libro" ><%= product.opinion %></textarea> 
                    <% if (locals.errors && errors.about) { %>
                        <div class="text-red">
                            <%= errors.about.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="genre">Género:</label></div>
                    <input class="box-ingrese-datos" type="text" name="genre" id="genre" 
                    placeholder="Ingrese el género del libro" required value="<%= product.genres.name %>">
                    <% if (locals.errors && errors.genre) { %>
                        <div class="text-red">
                            <%= errors.genre.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="editorial">Editorial: </label></div>
                    <p>
                        <select name="genre" id="genre" required>
                            <% allEditorials.forEach(editorial => { %>
                                <% if (product.id_editorial == editorial.id) { %>
                                    <option value="<%= editorial.id %>" selected><%= editorial.title %></option>
                                <% }%>
                            <option value="<%= editorial.id %>"><%= editorial.title %></option>
                            <% }); %>
                        </select>
                    </p>
                    <% if (locals.errors && errors.editorial) { %>
                        <div class="text-red">
                            <%= errors.editorial.msg %>
                        </div>
                    <% } %>
                 </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="size">Tamaño:</label></div>
                    <input class="box-ingrese-datos" type="text" name="size" id="size" 
                    placeholder="Ingrese el tamaño del libro (ancho x alto, en cm)" value="<%= product.size %>">
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="pages">Paginas:</label></div>
                    <input class="box-ingrese-datos" type="text" name="pages" id="pages" 
                    placeholder="Ingrese el número de páginas que contiene el libro" value="<%= product.pages %>">
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="more">"Mas Información":</label></div>
                    <textarea  name="more" id="more" placeholder="Agregue información adicional sobre el producto"><%= product.more %></textarea> 
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="stock">"Stock":</label></div>
                    <input class="box-ingrese-datos" type="number" name="stock" id="stock" value=" <%= product.stock %>"></input> 
                    <% if (locals.errors && errors.stock) { %>
                        <div class="text-red">
                            <%= errors.stock.msg %>
                        </div>
                    <% } %>
                </div>
               
                <div class="creatProd-buttom"> 
                    <button class="createProd-buttom-centr"><img class="img-buttom" src="/img/agregar-nuevo.png" alt="icon"></button>
                </div>
        </form>
               
    </main>



    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</html>