<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Editar Producto</title>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/prodHeader.ejs') %>

 
    <main>
        <h3 class="creatprod-title">EDITAR PRODUCTO</h3>
        <form class="createpr-form-padding-left" 
            action="/products/<%= product.id %>/edit?_method=PUT" 
            method="post" enctype="multipart/form-data" >
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="name">Nombre del producto:</label></div>
                    <input class="box-ingrese-datos" type="text" name="name" id="name" value="<%= product.name %>" required >
                </div>
                <div>
                    <p class="createpr-label-font">Tipo de producto:</p>
                    <input type="radio" id="Libro" name="type" value="1" checked>
                    <label class="createpr-label-font" for="center-logo-book">Libro</label><br>

                    <input type="radio" id="Ebook" name="type" value="2">
                    <label class="createpr-label-font" for="ebook">Ebook</label><br>
                    <input type="radio" id="Varios" name="type" value="3">
                    <label class="createpr-label-font" for="varios">Varios</label>
                </div>

                <!-- <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="productImg">Imagen del producto:</label></div>
                    <input class="box-ingrese-datos" type="file" name="productImg" multiple accept=".jpg, .png" required value="<%= product.picture %>">
                </div> -->

                <!--Aquí solicito la imagen-->
                <div class="">
                    <figure class="">
                      <img class="editproduct-img" src="../../../<%= product.picture%>"
                       alt="libro <%= product.name%>">
                    </figure>
                    <input type="file" name="productImg" value="<%= product.picture%>" />
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="author">Autor:</label></div>
                    <input class="box-ingrese-datos" type="text" name="author" id="author" 
                        placeholder="Ingrese el nombre del autor" required value="<%= product.authors.fullname %>">
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font"  for="price">Precio:</label></div>
                    <input class="box-ingrese-datos" type="text" name="price" id="price" value="<%= product.price %>" required>
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="opinion">Reseña:</label></div>
                    <textarea  name="opinion" id="opinion" placeholder="Agregue una breve descripcion del libro" ><%= product.opinion %></textarea> 
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="gender">Género:</label></div>
                    <input class="box-ingrese-datos" type="text" name="gender" id="gender" 
                    placeholder="Ingrese el género del libro" required value="<%= product.genres.name %>">
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="size">Tamaño:</label></div>
                    <input class="box-ingrese-datos" type="text" name="size" id="size" 
                    placeholder="Ingrese el tamaño del libro (ancho x alto, en cm)" value="<%= product.size %>">
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="pages">Paginas:</label></div>
                    <input class="box-ingrese-datos" type="text" name="pages" id="pages" 
                    placeholder="Ingrese el número de páginas que contiene el libro" value="<%= product.pages %>">
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="more">"Mas Información":</label></div>
                    <textarea  name="more" id="more" placeholder="Agregue información adicional sobre el producto"><%= product.more %></textarea> 
                </div>
               
                <div class="creatProd-buttom"> 
                    <button class="createProd-buttom-centr"><img class="img-buttom" src="/img/agregar-nuevo.png" alt="icon"></button>
                </div>
        </form>
               
    </main>



    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</html>