<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Editar Producto</title>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/prodHeader.ejs') %>

 
    <main>
        <br>
        <h3 class="creatprod-title">EDITAR PRODUCTO</h3>
        <form class="editarProductForm createpr-form-padding-left" 
            action="/products/<%= product.id %>/edit?_method=PUT" 
            method="post" enctype="multipart/form-data" >
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="name">Nombre del producto:</label></div>
                    <input 
                    class="box-ingrese-datos <%= locals.errors && errors.productName ? 'is-invalid' : null %>" 
                    type="text" 
                    name="name" 
                    id="name" 
                    value="<%= product.name %>" required 
                    />
                    <div class="text-red errorProductName">
                    <% if (locals.errors && errors.name) { %>
                            <%= errors.name.msg %>
                    <% } %>
                    </div>
                </div>
                <div>
                     <div>
                        <p class="createpr-label-font">Tipo de producto:</p>
                            <select
                                name="type" 
                                class=" <%= locals.errors && errors.type ? 'is-invalid' : null %>"
                                id="type" required>
                                <% allProductsTypes.forEach(tipo => { %>
                                    <% if (product.id_productType == tipo.id) { %>
                                        <option value="<%= tipo.id %>" selected><%= tipo.title %></option>
                                    <% } else { %>
                                        <option value="<%= tipo.id %>"><%= tipo.title %></option>
                                    <% } %>
                                <% }); %>
                            </select>
                            <div class="text-red errorProductType">
                            <% if (locals.errors && errors.type) { %>
                               
                                    <%= errors.type.msg %>
                            <% } %>
                             </div>
                    </div>
                </div>

                <!--Aquí solicito la imagen-->
                <div class="">
                    <figure class="">
                        <div><label class="createpr-label-font" for="productImg">Imagen del producto:</label></div>
                      <img class="editproduct-img" src="../../../<%= product.picture%>"
                       alt="libro <%= product.name %>">
                    </figure>
                    <input 
                    class="box-ingrese-datos <%= locals.errors && errors.productImg ? 'is-invalid' : null %>"
                    type="file" 
                    name="productImg" 
                    value="<%= product.picture%>" 
                    />
                    <div class="text-red errorImg">
                    <% if (locals.errors && errors.productImg) { %>
                            <%= errors.productImg.msg %>
                    <% } %>
                     </div>
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="author">Autor:</label></div>
                    <p>
                        <select name="author" id="author">
                            <% if (product.id_author != null){ %>
                                <option value="" disabled>- select Autor -</option>
                                <% allAuthors.forEach(autor => { %>
                                    <% if (product.id_author != autor.id){ %>
                                        <option value="<%= autor.id %>"><%= autor.fullName %></option>
                                    <% } else { %>
                                        <option value="<%= autor.id %>" selected><%= autor.fullName %></option>
                                    <% } %>
                                <% }); %>
                            <% } else { %>
                                <option value="" disabled selected>- select Autor -</option>
                                <% allAuthors.forEach(autor => { %>
                                <option value="<%= autor.id %>"><%= autor.fullName %></option>
                                <% }); %>
                            <% } %>
                        </select>
                    </p>
                        
                    <% if (locals.errors && errors.author) { %>
                        <div class="text-red">
                            <%= errors.author.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font"  for="price">Precio:</label></div>
                    <input 
                    class="box-ingrese-datos <%= locals.errors && errors.price ? 'is-invalid' : null %>" 
                    type="text" 
                    name="price" 
                    id="price" 
                    value="<%= product.price %>"
                    />
                    <div class="text-red errorPrecio">
                    <% if (locals.errors && errors.price) { %>
                            <%= errors.price.msg %>
                    <% } %>
                    </div>
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="about">Descripción:</label></div>
                    <textarea 
                    class="texarea-saizing <%= locals.errors && errors.about ? 'is-invalid' : null %>"  
                    name="about" 
                    id="about" 
                    placeholder="Agregue una breve descripcion del libro" 
                    ><%= product.opinion %></textarea> 
                    <div class="text-red errorDescripcion">
                    <% if (locals.errors && errors.about) { %>
                            <%= errors.about.msg %> 
                    <% } %>
                 </div>
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="genre">Género:</label></div>
                    <p>
                        <select name="genre" id="genre" >
                            <% if (product.id_genre != null){ %>
                                <option value="" disabled>- select Genre - </option>
                                <% allGenres.forEach(genero => { %>
                                    <% if (product.id_genre != genero.id) { %>
                                        <option value="<%= genero.id %>"><%= genero.name %></option>
                                    <% } else { %>
                                        <option value="<%= genero.id %>" selected><%= genero.name %></option>
                                    <% } %>
                                <% }); %>                                
                            <% } else { %>
                                <option value="" disabled selected>- select Genre - </option>
                                <% allGenres.forEach(genero => { %>
                                <option value="<%= genero.id %>"><%= genero.name %></option>
                                <% }); %>
                            <% } %>
                        </select>
                    </p>
                    <div class="text-red ">
                    <% if (locals.errors && errors.genre) { %>
                        
                            <%= errors.genre.msg %>   
                    <% } %>
                    </div>
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="editorial">Editorial: </label></div>
                    <p>
                        <select name="editorial" id="editorial" >
                            <% if (product.id_editorial != null){ %>
                                <option value="" disabled>- select Editorial -</option>
                                <% allEditorials.forEach(editorial => { %>
                                    <% if (product.id_editorial == editorial.id) { %>
                                        <option value="<%= editorial.id %>"><%= editorial.title %></option>
                                    <% } else { %>
                                        <option value="<%= editorial.id %>" selected><%= editorial.title %></option>
                                    <% } %>
                                <% }); %>
                            <% } else { %>
                                <option value="" disabled selected>- select Editorial -</option>
                                <% allEditorials.forEach(editorial => { %>
                                        <option value="<%= editorial.id %>"><%= editorial.title %></option>
                                <% }); %>
                            <% } %>
                        </select>
                    </p>
                    <% if (locals.errors && errors.editorial) { %>
                        <div class="text-red">
                            <%= errors.editorial.msg %>
                        </div>
                    <% } %>
                 </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="size">Tamaño:</label></div>
                    <input 
                    class="box-ingrese-datos <%= locals.errors && errors.size ? 'is-invalid' : null %>" 
                    type="text" 
                    name="size" 
                    id="size" 
                    placeholder="Ingrese el tamaño del libro (ancho x alto, en cm)" 
                    value="<%= product.size %>"
                    />
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="pages">Paginas:</label></div>
                    <input 
                    class="box-ingrese-datos <%= locals.errors && errors.pages ? 'is-invalid' : null %>"
                    type="number" 
                    name="pages" 
                    id="pages" 
                    placeholder="Ingrese el número de páginas que contiene el libro" 
                    value="<%= product.pages %>">
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="more">"Mas Información":</label></div>
                    <textarea 
                    class="texarea-saizing <%= locals.errors && errors.more ? 'is-invalid' : null %>" 
                    name="more" 
                    id="more" 
                    placeholder="Agregue información adicional sobre el producto"
                    ><%= product.more %></textarea> 
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="stock">"Stock":</label></div>
                    <input 
                    class="box-ingrese-datos <%= locals.errors && errors.stock ? 'is-invalid' : null %>"
                    type="number" 
                    name="stock" 
                    id="stock" 
                    value="<%= product.stock %>"
                    ><%= product.stock %></input> 
                    <div class="text-red errorStock" >
                    <% if (locals.errors && errors.stock) { %>
                        
                            <%= errors.stock.msg %>
                        
                    <% } %>
                </div>
                </div>
               
                <div class="creatProd-buttom"> 
                    <button class="createProd-buttom-centr"><img class="img-buttom" src="/img/agregar-nuevo.png" alt="icon"></button>
                </div>
                <script src="/js/editarProducto.js"></script>  
        </form>
               
    </main>



    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</html>