<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Home</title>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <main class="home-main">
    <div class="div-banner">
        <img class="home-banner" src="/img/Banner.jpg" alt="Estanteria con Libros">
        <img class="home-banner2" src="/img/Banner2.jpeg" alt="Estanteria con Libros">
    </div>
        
        <section class="product-showcase">
            <% books.forEach(product => { %>
            <article class="product">
                <div class="img-more">
                    <img class="home-book-product-img" src="<%= product.picture %>" alt="libro de prueba">
                    <div class="position-ver-mas"><a href="/detalle/<%= product.id %>"><input class="see-more home-prod-btm" type="button" value="Ver más"></a></div>
                    <div class="position-button-comprar"><input class="comprar home-prod-btm" type="button" value="Comprar"></div>
                    <!-- <input class="buy-item home-prod-btm" type="button" value="Comprar"> -->
                </div>
                <section class="book-detail-home">
                    <div class="book-name-price">
                        <h5 class="book-product-name"><%= product.name %></h5>
                        <h5 class="book-product-price"><%= product.price %></h5>
                    </div>
                    <h6 class="book-product-author"><%= product.author %></h6>
                </section>
                <input class="home-add-cart-button" type="button" value="Agregar al carrito">
            </article>
            <% }) %>
        </section>
        
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</body>

</html>