<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Lineas - Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <main class="home-main">
    <div class="div-banner">
        <img class="home-banner" src="img/Banner.jpg" alt="Estanteria con Libros">
        <img class="home-banner2" src="img/Banner2.jpeg" alt="Estanteria con Libros">
    </div>
        
        <section class="product-showcase">
            <h2 class="titulo-none"><%= about.books %></h2>
            <% books.forEach(product => { %>
            <article class="product">
                <div class="img-more">
                    <img class="home-book-product-img" src="<%= product.picture %>" alt="libro de prueba">
                    <div class="position-ver-mas"><a href="/detalle"><input class="see-more home-prod-btm" type="button" value="Ver más"></a></div>
                    <div class="position-button-comprar"><input class="comprar home-prod-btm" type="button" value="Comprar"></div>
                    <!-- <input class="buy-item home-prod-btm" type="button" value="Comprar"> -->
                </div>
                <section class="book-detail-home">
                    <div class="book-name-price">
                        <h5 class="book-product-name"><%= product.name %></h5>
                        <h5 class="book-product-price"><%= product.price %></h5>
                    </div>
                    <h6 class="book-product-author"><%= product.author %></h6>
                </section>
                <input class="home-add-cart-button" type="button" value="Agregar al carrito">
            </article>
            <% }) %>
        </section>
        
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</body>

</html>