<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Listar Producto</title>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/prodHeader.ejs') %>

 
    <main>
      <section class="listarProducts-section"> 
        <% books.forEach(product => { %>
        <article class="lp-article-sizig">
            <div class="lp-div-titulo-producto">
                <h5 class="lp-h5-titulo"> <%= product.name %></h5>
            </div>
            <div class="lp-div-img">
                <img src="<%= product.picture %>" class="lp-img">
            </div>
            <div class="lp-div-textos">
                <h5 class="lp-h5-etiquetas">Id:</h5><h5 class="lp-h5-contenido"><%= product.id %></h5>
                <h5 class="lp-h5-etiquetas">Tipo:</h5><h5 class="lp-h5-contenido"><%= product.productsTypes.title %></h5>
                <% if (product.id_genre != null){ %>
                    <h5 class="lp-h5-etiquetas">Genero:</h5><h5 class="lp-h5-contenido"> <%= product.genres.name %></h5>
                <% } %>
                <% if (product.id_author != null){ %>
                    <h5 class="lp-h5-etiquetas">Autor:</h5><h5 class="lp-h5-contenido"> <%= product.authors.fullName %></h5>
                <% } %>
                <h5 class="lp-h5-etiquetas">Precio:</h5><h5 class="lp-h5-contenido">$ <%= product.price %></h5>
            </div>
            <div class="lp-div-textos-2">
                <h5 class="lp-h5-etiquetas">Reseña:</h5><p class="lp-h5-contenido"> <%= product.opinion %></p>
                <h5 class="lp-h5-etiquetas">Imágenes:</h5><h5 class="lp-h5-contenido"> <%= product.picture %></h5>
            </div>
            <div class="lp-div-buttoms">
                <a href="/products/<%= product.id %>/edit"><input class="edit-button" type="button" value="Editar" /></a>
                
               <!-- <form action="/products/delete/<%=product.id%>?_method=DELETE" method="POST">
                    <button class="delete-button" type="submit">Eliminar</button>
                </form> -->
                <a href="/products/delete/<%=product.id%>"> <input class='delete-button' tpye="button" value="Eliminar" /></a>
            </div> 
        </article>    
        <% }) %>
    </section>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</body>

</html>