<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Listar Producto</title>
</head>

<body>
    <header class="createpr-header">

        <div class=" carrousel-size carrousel-style ">
            <h5 class="line-height lp-color"> OFERTA: Envíos 50% OFF </h5>
        </div>
            
        <div class="sizing-menu-paty crearpr-desap-Desktop"><img class="centrar-icono" src="img/menu-paty.jpg"
                alt="menu-paty">
        </div>
        <div class="sizing-logo"><a href="/"><img class="centrar-logo" src="img/logo-entre-lineas.jpg" alt="entreLineasLogo"></a></div>

        <div class="listarpr-desap-Mobile crearpr-flex-box-texto">
            <div class = "grow"><h6><a>Listar Productos</a></h6></div>
            <div class = "grow"><h6><a>Crear Productos</a></h6></div>
            <div class = "grow"><h6><a>Editar Productos</a></h6></div>
        </div>
        <div class="sizing-carrito ordenar-carrito"><a href="/home"><img class="centrar-icono" src="img/icono-home.png" alt="home"></a></div>
       
    </header>

 
    <main>
        
        <section class="lp-header-section">
        <div class="lp-div-titulo-gral"><h3 class="creatprod-title">LISTADO DE PRODUCTOS</h3></div>

            <form class="nav-search" action="" method="GET" role="search" >
            <input  class="box-ingrese-datos" type="text" placeholder="Buscar">
            <button type="submit" class="nav-search-btn" tabindex="3">
                <span class="material-symbols-outlined"><img src="/img/outline_search_white_24dp.png" alt="search"></span>
            </button>
        </form>

        <div class="creatProd-buttom"> 
            <a href ='/products/create'><button class="create-buttom"><span class="material-symbols-outlined"><img class= "add-buttom" src="/img/outline_add_white_24dp.png" alt="add"></span></button></a>
        </div>
        </section>
        
    <section class="lp-product-section">
        <% books.forEach(product => { %>
        <article class="lp-article-sizig">
            <div class="lp-div-titulo-producto">
                <h5 class="lp-h5-titulo"> <%= product.name %></h5>
            </div>
            <div class="lp-div-img">
                <img src="<%= product.picture %>" class="lp-img">
            </div>
            <div class="lp-div-textos">
                <h5 class="lp-h5-etiquetas">Id:</h5><h5 class="lp-h5-contenido"><%= product.id %></h5>
                <h5 class="lp-h5-etiquetas">Tipo:</h5><h5 class="lp-h5-contenido"><%= product.type %></h5>
                <h5 class="lp-h5-etiquetas">Genero:</h5><h5 class="lp-h5-contenido"> <%= product.gender %></h5>
                <h5 class="lp-h5-etiquetas">Autor:</h5><h5 class="lp-h5-contenido"> <%= product.author %></h5>
                <h5 class="lp-h5-etiquetas">Precio:</h5><h5 class="lp-h5-contenido"> <%= product.price %></h5>
            </div>
            <div class="lp-div-textos-2">
                <h5 class="lp-h5-etiquetas">Reseña:</h5><p class="lp-h5-contenido"> <%= product.opinion %></p>
                <h5 class="lp-h5-etiquetas">Imágenes:</h5><h5 class="lp-h5-contenido"> <%= product.picture %></h5>
            </div>
            <div class="lp-div-buttoms">
                <a href="/products/<%= product.id %>/edit"><input class="edit-button" type="button" value="Editar" ></a>
                
                <form action="/products/delete/<%product.id%>?_method=DELETE" method="POST">
                    <button class="delete-button" type="submit">Eliminar</button>
                </form>
            </div> 
        </article>    
        <% }) %>
    </section>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</body>

</html>