<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Head -->
    <%- include('./partials/head.ejs') %>
    <title>Borrado de un Género</title>
</head>

<body class="body-confborrar">
    <!-- Header -->
    <%- include('./partials/genreHeader.ejs') %>   
    <main>
        <h3 class="mens-confborrar">Estas seguro de querer borrar este género: <%= genero.name %>???</h3>
        <p>
            <form action="/genres/destroy/<%=genero.id %>" method="POST">
                <div class="tamaño-linea">        
                    <div class="linea-de-botones-confborrar">    
                        <div>
                         <button class="botonBorrar" type="submit">Borrar el Género</button>
                        </div>
    
                        <div class="boton-volver">
                            <a  class="link-list-aut" href="/genres/">Listado de Géneros</a>
                        </div>
                    </div>
            </form>
        </p>

    </main>
<!-- Footer -->
<%- include('./partials/footer.ejs') %>
</body>

</html>