<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('./partials/head.ejs') %>
    <title>Entre Lineas - Listar Autores</title>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/authorHeader.ejs') %>

 <main class="products-main">
    <h2 class="h3-crearautor">Listado de Autores</h2>
        <div class="cont-list-aut">   
            <ul class="ul-vista-liaut" >
                <% for (let i=0; i< autores.length; i++) { %>
            
                <div class="divsiz-liaut">
                    <li class="tam-li1">
                        <%= autores[i].id + "   " + autores[i].fullName + "   "   %>
            
                    </li>
                    <li class="tam-li2">
                     
                        <a class="botonEditar" href="/authors/edit/<%= autores[i].id %>">Editar</a>
                    </li>
                    <li class="tam-li3">
                     
                        <a class="botonBorrar" href="/authors/delete/<%= autores[i].id %>">Borrar</a>
                    </li>
                </div>   
        
                 <% } %>
            </ul>
        </div>
 </main>
    
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
</body>

</html>