<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('./partials/head.ejs') %>
    <title>Entre Lineas - Listar Géneros</title>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/genreHeader.ejs') %>
    <h3 class="h3-crearautor">Listado de Géneros</h1>
    <div class="cont-list-aut">
        <ul class="ul-vista-liaut" >
            <% for (let i=0; i< generos.length; i++) { %>
        
            <div class="divsiz-liaut">
                <li class="tam-li1">
                    <%= generos[i].id + "   " + generos[i].name + "   "   %>
        
                </li>
                <li class="tam-li2">
              
                    <a class="botonBorrar" href="/genres/delete/<%= generos[i].id %>">Borrar</a>
                </li>
            </div>   
    
            <% } %>
        </ul>
    </div>
   
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
</body>

</html>